<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/65ae89a8-e71a-46fc-ade5-cd73099a8088/resourcegroups/NSCCApplicationGroup/providers/Microsoft.Web/sites/NSCCApplicationFormDbService</ResourceId>
    <ResourceGroup>NSCCApplicationGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nsccapplicationformdbservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nsccapplicationformdbservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NSCCApplicationFormDbService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NSCCApplicationFormDbService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NSCCApplicationFormDb" Order="1" Enabled="False">
          <Destination Path="Data Source=w0290614.database.windows.net;Initial Catalog=NSCCApplicationForm;Persist Security Info=True;User ID=w0290614;Password=Basketball31;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NSCCApplicationFormDataLayer.NSCCApplicationDbContext, NSCCApplicationFormDataLayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="NSCCApplicationFormDb-Web.config Connection String">
      <ParameterValue>Data Source=w0290614.database.windows.net;Initial Catalog=NSCCApplicationForm;Persist Security Info=True;User ID=w0290614;Password=Basketball31;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>